.swal2-html-container {
  text-align: left;
  font-family: 'Kanit';
}

b {
  font-family: 'Kanit';
  text-align: justify;
}

.br {
  margin-bottom: 0em;
}

.swal2-title {
  font-family: 'Kanit';
}

.swal2-confirm {
  font-family: 'Kanit';
}

.swal2-cancel {
  font-family: 'Kanit';
}
