.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.162) !important;
}
.ant-modal {
  width: 700px !important;
}

.ant-modal-content {
  font-family: 'Kanit';

  .ant-modal-header {
    .ant-modal-title {
      font-size: x-large;
    }
  }
  .ant-modal-body {
    font-size: 20px !important;
  }
  .ant-btn-primary {
    background-color: green !important;
  }

  .ant-btn-primary:hover {
    background-color: rgb(123, 195, 123) !important;
  }

  .ant-btn-default:hover {
    background-color: rgb(211, 72, 56) !important;
  }
}
