.ant-tabs {
  .ant-tabs-nav {
    margin: 0;
    .ant-tabs-tab {
      background-color: rgba(255, 255, 255, 0.331);
    }
  }
}

.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid white !important;
  z-index: 2;
  background-color: rgb(255, 255, 255) !important;
}
