.cardHome {
  width: 1000px !important;
}

@media screen and (max-width: 380px) {
  .cardHome {
    width: 330px !important;
  }
}

@media screen and (max-width: 600px) {
  .cardHome {
    width: 500px !important;
  }
}

@media screen and (min-width: 1200px) {
  .cardHome {
    width: 700px;
  }
}

@media screen and (max-width: 450px) {
  .cardHome {
    width: 370px !important;
  }
}

@media screen and (max-width: 320px) {
  .cardHome {
    width: 300px !important;
  }
}

@media screen and (max-width: 280px) {
  .cardHome {
    width: 260px !important;
  }
}

// @media screen and (max-width: 380px) {
//   .cardHome {
//     width: 360px !important;
//   }
// }
